<p>La note du premier élève est {{ notation1 }}</p>
<p>La note du deuxième élève est {{ notation2 }}</p>
<p>La note du troisème élève est {{ notation3 }}</p>
<p>La note du quatrième élève est {{ notation4 }}</p>

