<p>La note du premier élève est {{ noteId_1 }}</p>
<p>La note du deuxième élève est {{ noteId_2 }}</p>
<p>La note du troisème élève est {{ noteId_3 }}</p>
<p>La note du quatrième élève est {{ noteId_4}}</p>