
<p>
    L'id du produit est : {{ product.id }}
</p>

<p>
    Le nom du produit est : {{ product.name }}
</p>

<p>
    Le prix unitaire du produit est de {{product.unitPrice}} € 
</p>

<p>
    Créé le {{ product.createdAt|date('d/m/Y H:i') }}
</p>